/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*estilos generales*/


html{
font-family: 'Quicksand', sans-serif;
}
body{
  background-color: #ede9e3 ;
}
header{
  background-color: #cdc6c3;
}
main{
  background-color: #ede9e3;
  margin-top: 90px;
}
a{
  text-decoration: none;
  color: black;
}
footer{
  background-color: #d4b2a7;
  padding: 5vh;
}
footer button{
  background-color: #a38f85;
  border-style: none;
  border-radius: 2rem;
  padding: 3px;
  font-family: 'Quicksand', serif; ;
}
 .footer{
  margin: 5vh;
}
 .medios-pago{
  display: inline;
}
 .medios-pago img{
  width: 10vh;
  height: auto;
}
 .redes img{
  width: 10vh;
  height: auto;
}


/*estilos de home*/


main .carrusel{
  max-width: 100vh;
  width: 100%;
  height: 50vh;
  overflow-x: auto;
  display: flex;
  margin: 0 auto;
}
main .carrusel img{
  width: 100%;
  scroll-snap-align: center;
}
main .etiqueta-destacados{
    text-align: center;
    background-color: #cdc6c3;
    padding: 20px;
}
main .destacados{
  margin: 5vh;
  text-align: center;
}
.servicios{
  text-align: center;
  width: 300;
  
}
.envios{
  border: 5px solid #a38f85;
  width: 100%;
  display: inline-block;
}
.envios img {
  width: 10vh;
  height: 10vh;
}
.pagos{
  border: 5px solid #a38f85;
  width: 100%;
  display: inline-block;
}
.pagos img{
  width: 10vh;
  height: 10vh;
}
.contacto{
  border: 5px solid #a38f85;
  width: 100%;
  display: inline-block;
}
.contacto img{
  width: 10vh;
  height: 10vh;
}

/*estilos de productos*/


.prod{
  display: flex;
  padding-top: 50px;
  max-width: 100vh;
}
.cards-productos{
  display: flex; 
  text-align: center;
}
.card-productos{
  flex: 50%;
  width: 70%;
  margin: 30px;
  border: 5px solid #a38f85;
  background-color: #a38f85;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.card-productos img{
  width: 100%;
  border-color: black;
}
.card-productos .footer-productos{
  background-color: #a38f85;
  padding: 10px;
}
.footer-productos button{
  padding: 2vh;
  background-color: #d4b2a7;
  border-style: none;
  border-radius: 2rem;
}


/*estilos de quienes somos*/


section .grid-container{
  text-align: center;
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template: 
  "img-dai" 200px
  "img-dos" 200px
  "quienes-somos" 400px;
}

.img-dai{
  grid-area: img-dai;
  align-self: center;
}
.img-dos{
  grid-area: img-dos;
  align-self: center;
}
.quienes-somos{
  grid-area: quienes-somos;
  gap: 10px;
}

.img-dai img{
  width: 90%;
  height: 90%;
  margin: 3vh;
  padding-top: 50px;
  align-self: center;
}
.img-dos img{
  width: 83%;
  height: 83%;
  margin: 3vh;
  padding-top: 50px;
  align-self: center;
}

.img-dos{
  display: none;
}
.quienes-somos p{
  width: 90%;
  height: 90%;
  text-align: center;
  margin-left: 3vh;
}

/*mq tablet*/
@media (min-width:600px){
  main .img-dos{
    display: block;
  }
  .grid-container{
      grid-template-columns: 50% 50%;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: 
      "img-dai img-dos"
      "quienes-somos quienes-somos";
  }

}

/*mq desktop*/
@media (min-width:1024px){
  main .img-dos{
    display: block;
  }
  main .quienes-somos{
    padding-top: 200px;
  }
  .grid-container{
      grid-template-columns: 40% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: 
      "img-dai quienes-somos"
      "img-dos quienes-somos";
  }
}



/*estilos de preguntas frecuentes*/

.preguntas{
  padding-top: 50px;
}
.pregunta{
  font-style: italic;
  text-decoration: underline;
  background-color: #a38f85;
  margin: 10px 20px;
  display: inline-block;
}
.respuesta{
  text-align: justify;
  display: inline-block;
  margin: 10px 20px;
}

/*estilos de contacto*/

.saludo-contacto{
  padding-top: 50px;
  text-align: center;
  max-width: 100vh;
  width: 90%;
  margin: 2vh;
}
.datos-contacto{
  display: flex;
  flex-direction: column;
}
.datos-contacto img{
  width: 5vh;
  height: auto;
}

.telefono{
  display: block;
  text-align: center;
}

.direccion{
  text-align: center;
}

form{
  font-family: sans-serif;
  display: inline-block;
  border-style: none;
  padding-left: 2px;
}
fieldset{
  border-style: none;
}

.contacto-formulario label{
  text-align: left;
  padding: 0.5rem;
}

.contacto-formulario input{
  background-color: #d4b2a7;
  border-style: none;
  width: 40vh;
  border-radius: 6vh;
  
}

.contacto-formulario textarea{
  text-align: left;
  padding: 0.5rem;
  background-color: #d4b2a7;
  border-style: none;
  width: 40vh;
  border-radius: 6vh;
}

.boton-formulario{
  border-style: none;
}
.boton-formulario input{
  border-radius: 6vh;
  width: 20vh;
  margin: 20px;
  padding: 5px;
}

.grids-container{
  text-align: justify;
}
.grids-container{
  display: grid;
  gap: 2px;
  grid-template:
  "grid1" 50%
  "formulario-cont" 50%;
}

/*mq tablet*/
@media (min-width:600px){
  .grids-container{
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "grid1 formulario-cont";
  }
}
 /*mq desktop*/
 @media (min-width:1024px){
  .grids-container{
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "grid1 formulario-cont";
  }
}


